body, html {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  height: 100%;
}

.overlay {
  background-image: url('images/bg.webp'); /* ARKAPLANINI BURADA DEĞİŞTİR */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: rgba(255, 255, 255, 0);
  padding: 30px 20px;
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0,0,0,0);
}

h1 {
  margin-bottom: 30px;
  font-size: 1.8rem;
  color: #ff4d91;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  background-color: #ff7ba9;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 12px;
  font-size: 1.1rem;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #ff4d91;
}



